// 
// _vars.scss:  Tue Feb 12 15:18:09 CST 2019
// 

$verdana-font: Verdana, Geneva, Arial, Helvetica, sans-serif; 
$verlag-font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font: Georgia,Times New Roman,Times,serif !default;
$vitesse-font: "Vitesse", "Helvetica Neue", "Helvetica", "Arial" !default;
